body {
  background: url("images/background.jpg") no-repeat;
  background-size: cover;
}
#wrapper {
  width: 900px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100px;
}

header h1 {
  font-size: 55px;
  font-family: stencil-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
nav {
  width: 100%;
  text-align: center;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
}

footer {
  text-align: center;
  clear: both;
}

nav a:visited {
}

nav a:link {
  text-decoration: none;
  margin-right: 20px;
  font-family: postino-std, serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(0, 0, 0, 0.75);
}
nav a:active {
  text-decoration: underline;
}

nav a:hover {
  color: rgba(0, 0, 0, 1);
}

.left {
  width: 400px;
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
}
.left img {
  max-width: 400px;
}

.right {
  width: 400px;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 18px;
}
